#title{
    color: red;
}
#title2{
    color:orange
}
#thesearemyfriends{
    color:white
}
body {
    background-color:black
}
#titleriyanka{
    color:yellow
}
#titlesejal{
    color:blue
}
#titletara{
    color:magenta
}